server {
        listen 80;
        #listen [::]:80 default_server ipv6only=on;

        root {{ web_root }};
        index {{ directory_index }} index.html index.htm;

        # Make site accessible from http://localhost/
        server_name {{ host_name }};

        location / {
                # First attempt to serve request as file, then
                # as directory, then fall back to displaying a 404.
                try_files $uri $uri/ @handler;
                # Uncomment to enable naxsi on this location
                # include /etc/nginx/naxsi.rules
        }

        # redirect server error pages to the static page /50x.html
        #
        error_page 500 502 503 504 /50x.html;
        location = /50x.html {
                root /usr/share/nginx/html;
        }

        location @handler {
            rewrite ^(.*) /{{ directory_index }}?$1 last;
        }

        # pass the PHP scripts to FastCGI server listening on 127.0.0.1:9000
        #
        location ~ \.php$ {
                try_files $uri =404;
                fastcgi_split_path_info ^(.+\.php)(/.+)$;
                # NOTE: You should have "cgi.fix_pathinfo = 0;" in php.ini

                fastcgi_pass unix:/var/run/php/php7.1-fpm.sock;
                fastcgi_index {{ directory_index }};
                include fastcgi.conf;
        }

        # deny access to .htaccess files, if Apache's document root
        # concurs with nginx's one
        #
        location ~ /\.ht {
                deny all;
        }
}